html {
	font: serif;
	background-color: 
}
body {
	padding: 20px;
}
.primary-color {
	/*background-color: MediumSeaGreen;*/
}
.background-color {
	/*background-color: WhiteSmoke;*/
}
.primary-text-color {
	color: black;
	opacity: 87%;
}
.secondary-text-color {
	color: black;
	opacity: 54%;
}
